@model UserApplication.Models.EmailDepartments

@{
    ViewBag.Title = "Edit Email";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link href="~/Content/bootstrap-select.css" rel="stylesheet" />
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type=number] {
            -moz-appearance: textfield;
        }

        .select2-search__field, .select2-search__field2 {
            height: 32px !important;
            margin-top: -3px !important;
            font-size: 12px !important;
        }

        .btn-light {
            background-color: white !important;
            color: dimgray !important;
        }
    </style>
}

<div>
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-sm-12">
                @using (Html.BeginForm())
                {
                    <div class="card">
                        <div class="card-header">
                            <h4> @ViewBag.Title</h4>
                        </div>
                        <div class="card-body">

                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.DId)

                            <div class="form-group">
                                @Html.LabelFor(model => model.Department_Names, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-12">

                                    @Html.EditorFor(model => model.Department_Names, new { htmlAttributes = new { @readonly = "readonly" } })
                                    @*@Html.ValidationMessageFor(model => model.Department_Names, "", new { @class = "text-danger" })*@
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Email_Address, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Email_Address, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Email_Address, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="card-footer">
                                <button class="btn btn-md btn-primary mr-3" type="submit" tabindex="10">
                                    <i class="fa fa-dot-circle-o"></i> Save
                                </button>
                                <a class="btn btn-md btn-primary ml-3" href="@Url.Action("EmailDeprtmentIndex", "Complaints")" tabindex="11">
                                    <i class="fa fa-close"></i> Cancel
                                </a>
                            </div>
                        </div>
                           
                        </div>
                       
                        }
                    </div>
                </div>
        </div>
</div>